@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    html,body{
        @apply h-full;
    }
    #root{
        @apply flex flex-col h-full;
    }
    .chips{
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    .chips::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
    .chips  button + button{
       
           @apply ml-3;

        
    }
}